@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RocketScienceRentals</h1>
    <h1>Rental Manager</h1>
    <p class="lead">Cutting-edge rental management platform</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Features</h2>
        <p>
            The RocketScienceRentals Rental Manager is your all-in-one solution for managing your company's rental business online.
            Our rental platform offers comprehensive management tools for a streamlined, cost-effective solution.
        </p>
        <br />
        <p>Join us and take your rental business to the next level!</p>
        <br />
        <h4>Platform highlights:</h4>
        <ul id="feature-list"class="list-group">
            <li class="list-group-item">Apply to become a tenant</li>
            <li class="list-group-item">Manage rental assets, appliances, and users</li>
            <li class="list-group-item">Allows tenants and staff members to create maintenance requests for rental units</li>
            <li class="list-group-item">View accounting information</li>
        </ul>
    </div>
</div>