
@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Payment Details here</p>

<!-- credit card information page-->

<p><a class="btn btn-default" href="OrderDetails">Proceed &raquo;</a></p>

